{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h2 class="mb-4">About Our LMS</h2>
        <p class="lead">Welcome to our Learning Management System!</p>
        <p>This platform provides a comprehensive solution for online learning and course management.</p>
        <p>Features include:</p>
        <ul>
            <li>Course management</li>
            <li>Chapter and video organization</li>
            <li>User authentication</li>
            <li>Progress tracking</li>
        </ul>
        <p>&copy; {{ current_year }} All rights reserved.</p>
    </div>
</div>
{% endblock %}